SimControl.Samples.CSharp.Wcf.Client/Service References/SampleServiceTap/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="compositeType" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeCallbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="InvokeCallbackResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeCallbackOneWay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="compositeType" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Operation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="operationMode" type="q4:OperationMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Callback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="compositeType" nillable="true" type="q5:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="CallbackResult" nillable="true" type="q6:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OneWayCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="compositeType" nillable="true" type="q7:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>