SimControl.Samples.CSharp.Wcf.Client.Net40/Service References/SampleServiceEap/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" />
  <xs:element name="ComplexOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="data" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="ComplexOperationResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexOperationOneWay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="data" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComplexOperationOneWayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Operation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="operationMode" type="q4:OperationMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationOneWay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="operationMode" type="q5:OperationMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationOneWayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_CompositeType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_CompositeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" minOccurs="0" name="get_CompositeTypeResult" nillable="true" type="q6:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>