SimControl.Samples.CSharp.Wcf.Client40/Service References/SampleServiceEap/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleServiceSingleInstance" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_ISampleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="2073600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ISampleService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_InvokeCallback_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeCallback" />
  </wsdl:message>
  <wsdl:message name="ISampleService_InvokeCallback_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_InvokeCallbackOneWay_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeCallbackOneWay" />
  </wsdl:message>
  <wsdl:message name="ISampleService_Operation_InputMessage">
    <wsdl:part name="parameters" element="tns:Operation" />
  </wsdl:message>
  <wsdl:message name="ISampleService_Operation_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_Operation_InvalidOperationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:InvalidOperationException" />
  </wsdl:message>
  <wsdl:message name="ISampleService_Callback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Callback" />
  </wsdl:message>
  <wsdl:message name="ISampleService_Callback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallbackResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleService_OneWayCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OneWayCallback" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISampleService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/Connect" message="tns:ISampleService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/ConnectResponse" message="tns:ISampleService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="InvokeCallback">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/InvokeCallback" message="tns:ISampleService_InvokeCallback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/InvokeCallbackResponse" message="tns:ISampleService_InvokeCallback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="InvokeCallbackOneWay">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/InvokeCallbackOneWay" message="tns:ISampleService_InvokeCallbackOneWay_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Operation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/Operation" message="tns:ISampleService_Operation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/OperationResponse" message="tns:ISampleService_Operation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISampleService/OperationInvalidOperationExceptionFault" name="InvalidOperationExceptionFault" message="tns:ISampleService_Operation_InvalidOperationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Callback">
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/Callback" message="tns:ISampleService_Callback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleService/CallbackResponse" message="tns:ISampleService_Callback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OneWayCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleService/OneWayCallback" message="tns:ISampleService_OneWayCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_ISampleService" type="tns:ISampleService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_ISampleService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/ISampleService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeCallback">
      <soap12:operation soapAction="http://tempuri.org/ISampleService/InvokeCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeCallbackOneWay">
      <soap12:operation soapAction="http://tempuri.org/ISampleService/InvokeCallbackOneWay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Operation">
      <soap12:operation soapAction="http://tempuri.org/ISampleService/Operation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidOperationExceptionFault">
        <soap12:fault use="literal" name="InvalidOperationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Callback">
      <soap12:operation soapAction="http://tempuri.org/ISampleService/Callback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OneWayCallback">
      <soap12:operation soapAction="http://tempuri.org/ISampleService/OneWayCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleServiceSingleInstance">
    <wsdl:port name="WSDualHttpBinding_ISampleService" binding="tns:WSDualHttpBinding_ISampleService">
      <soap12:address location="http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/SampleServiceSingleInstance/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8733/Design_Time_Addresses/SimControl.Samples.CSharp.Wcf.Service/SampleServiceSingleInstance/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>