SimControl.Samples.CSharp.Wcf.Client40/Service References/SampleServiceEap/SimControl.Samples.CSharp.Wcf.ServiceContract1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimControl.Samples.CSharp.Wcf.ServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntValue" type="xs:int" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:simpleType name="OperationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Valid" />
      <xs:enumeration value="CodeContractException" />
      <xs:enumeration value="FaultException" />
      <xs:enumeration value="FaultException_InvalidOperationException" />
      <xs:enumeration value="InvalidOperationException" />
      <xs:enumeration value="TimeoutException" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationMode" nillable="true" type="tns:OperationMode" />
</xs:schema>